<launch>

	<!-- ROS nodes (rplidar) -->
	<include file="$(find fsr)/launch/lidar_robot.launch" />

	<!-- ROS nodes (rosserial) -->
	<include file="$(find fsr)/launch/motor_robot.launch" />

	<!-- ROS nodes (obstacle) -->
	<node	pkg="fsr_navigation" 
		name="fsr_obstacle" 
		type="obstacle.py" 
		output="screen">
	</node>

</launch>
